<h1><img src="images/logo.jpg" alt="IMAGE NOT FOUND" width=10% height=auto><%= I18n.t('.home.home.title') %><img src="images/logo.jpg" alt="IMAGE NOT FOUND" width=10% height=auto></h1>
<p align="center"><%= I18n.t('.home.home.welcome') %></p>
