<h1><img src="images/logo.jpg" alt="IMAGE NOT FOUND" width=10% height=auto><%= t('.title') %><img src="images/logo.jpg" alt="IMAGE NOT FOUND" width=10% height=auto></h1>
<p align="center"><%= t('.welcome') %></p>
