<h1><%= I18n.t('.matches.scorecard.new_bowling')%></h1>
<% @bowling_innings.Innings_id = params[:Innings_id] %>
<%# Finds the players associated with the given innings. (Only these are shown in the drop down menu)%>
<%
@hometeambatted = params[:hometeambatted]
if @hometeambatted == "true"
  @players = Player.joins("INNER JOIN teams INNER JOIN matches INNER JOIN innings ON players.team_id = teams.id AND teams.id = matches.awayteam_id AND matches.id = innings.match_id").where("innings.id" => @bowling_innings.Innings_id).bowlers
else
  @players = Player.joins("INNER JOIN teams INNER JOIN matches INNER JOIN innings ON players.team_id = teams.id AND teams.id = matches.hometeam_id AND matches.id = innings.match_id").where("innings.id" => @bowling_innings.Innings_id).bowlers
end
%>
<%= render 'form', bowling_innings: @bowling_innings %>

<%= link_to  I18n.t('back') , match_path(Match.matchFromInnings(Innings.where("Innings.id" => @bowling_innings.Innings_id))) %>
