/* Style the nav bar itself */
.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
}
/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Pads the top of the page so that it's below the nav bar */
.main {
    margin-top: 5%;
}


/* Change the colour of links when the mouse moves over them*/
.navbar a:hover {
  background-color: #8ceeff;
  color: black;
}

/* Add a colour to the active/current link */
.navbar a.active {
  background-color: #4CAF50;
  color: white;
}

@media screen and (max-width: 750px) {
  .navbar a {
    float: none;
    display: block;
  }
}
