/* Style the navigation bar itself - It covers the whole screen
width. */
.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
}
/* Style the links inside the navigation bar. */
.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Pads the top of the page so that it's always below the nav bar */
.main {
    margin-top: 5%;
}

/* Changes the colour of links when the mouse moves over them*/
.navbar a:hover {
  background-color: #8ceeff;
  color: black;
}

/* Adds a colour to the active/current link (see adjust_nav_bar.js for usage) */
.navbar a.active {
  background-color: #4CAF50;
  color: white;
}

/* When the screen width is below 750 pixels wide, display the navigation bar links vertically */
@media screen and (max-width: 750px) {
  .navbar a {
    float: none;
    display: block;
  }
}
