/*Used to style all tables. Bordered with black lines,
  text is centered and it is made to be a set width of the
  screen*/
table, td, th {
  border: 1px solid black;
  text-align: center;
  width: 60%;
  white-space: nowrap;
  font-size: 100%;
  margin-left: auto;
  margin-right: auto;
}
table thead th {
  text-align: center;
}

/* If the screen width is below 750 pixels, hide the
   table headers and instead just display the values formatted vertically
   (similar to the navbar)*/
@media
only screen and (max-width: 750px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

  /** Display table elements vertically */
  table, thead, tbody, th, td, tr {
    display: block;
  }
  /** Table headers are moved way off the screen, so we can't see them
  (the td:before changes this later)*/
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  /** Each table value (eg team's name)*/
  td {
    border: none;
    border-bottom: 1px solid black;
    position: relative;
    padding-left: 50%;
  }

  /** Each table's header (eg "Team Name")*/
  td:before {
		position: absolute;
		left: 0px;
		width: 45%;
		padding-right: 40px;
		white-space: nowrap;
	}
}
